<div class="footer">
    <div class="foot-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <div class="">
                        <h4>联系我们<span class="en-title">CONTACT US</span></h4>
                        <ul class="ul-1 hidden-xs">
                            <li><span class="w20">办公电话 </span><?=$sys['phone']?></li>
                            <li><span class="w20">电子邮箱</span> <?=$sys['email']?></li>
                            <li><span class="w20">办公传真</span><?=$sys['fax']?></li>
                            <li><span class="w20">办公地址</span> <?=$sys['address']?></li>
                        </ul>
                        <ul class="ul-1 visible-xs">
                            <li class="col-xs-12" style="width:100%;">
                                <span class="icon i-phone"></span>
                                <span class="w20">办公电话 </span> <?=$sys['phone']?>
                            </li>
                            <li class="col-xs-12" style="width:100%;">
                                <span class="icon i-email"></span>
                                <span class="w20">电子邮箱</span><?=$sys['email']?>
                            </li>
                            <li class="col-xs-12" style="width:100%;">
                                <span class="icon i-fax"></span>
                                <span class="w20">办公传真</span><?=$sys['fax']?>
                            </li>
                            <li class="col-xs-12 foo-box" style="width:100%;">
                                <span class="icon i-add"></span>
                                <span class="w20" style="">办公地址</span>
                                <span class='foo-ab'><?=$sys['address']?></span>
                            </li>
                        </ul>
                    </div>
                    <div class="hidden-xs" style="margin-top:15px;">
                        <h4>友情链接<span class="en-title">LINKS</span></h4>
                        <ul class="foot-ul-2">
                            <!--<li class="p0"><a href="http://www.moe.edu.cn/">中华人民共和国教育部</a></li>-->
                            <!--<li><a href="http://www.bjedu.gov.cn/">北京市教育委员会</a></li>-->
                            <!--<li><a href="http://www.ruc.edu.cn/">中国人民大学</a></li>-->
                            <!--<li><a href="http://www.zycg.gov.cn/">中央政府采购网</a></li>-->
                            <?php foreach($url as $key=>$value): ?>
                            <li><a href="<?=$value['url']?>"><?=$value['name']?></a></li>
                            <?php endforeach;?>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <div class="foot_map" style="margin-top: 30px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="foot-bottom">
    <div class="container" style="height: 32px;line-height: 32px;">
        <div class="left">
            <?=$sys['copy']?><?=$sys['icp']?>

            <span class="pv">当前访问量 <span class="pv-num"><?=$sys['total']?></span>次</span>

        </div>
        <div class="img-box">
            <!--<img class="foot-img" style="margin-right: 15px;" src="wp-content/themes/equip/images/copy logo.png" alt="">-->
            <img class="foot-img" style="margin-right: 15px;" src="<?=base_url('result/main/img/copy logo.png')?>"
                 alt="">
            <!--<a class="hidden-xs" href="#">回顶部</a>-->
        </div>
    </div>
</div>