<!DOCTYPE html>
<html lang="en">
<?php $this->load->view("html/static.html")?>
<body>

<?php $this->load->view("html/pc-menus.html")?>

<!-- 移动端header -->
<?php $this->load->view("html/mobile-header.html")?>
<!-- 移动端菜单 -->
<?php $this->load->view("html/mobile-menus.html")?>
<div class="banner banner-lists hidden-xs">
    <div class="mask"></div>
    <h3><?=$class['news_type_name']?></h3>
    <!-- <span class="english">News</span> -->
</div>
<div id="detail">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 hidden-md hidden-sm hidden-xs ">
                    <ul class="regulations">

                        <?php foreach($classList as $key=>$value):?>

                             <?php if($value['id'] == $class['id']):?>
                                <li class="r-par-li">
                                    <a class="active-a" href="<?=base_url('news/newsList')?>?type=<?=$value['id']?>">
                                        <div class="a-box" style="">
                                            <span class="icon i-1"></span>
                                            <?=$value['news_type_name']?>
                                        </div>
                                    </a>
                                </li>
                             <?php else:?>
                                <li class="">
                                    <a class="" href="<?=base_url('news/newsList')?>?type=<?=$value['id']?>">
                                        <div class="a-box" style="">
                                            <span class="icon i-3"></span>
                                              <?=$value['news_type_name']?>
                                        </div>
                                    </a>
                                </li>
                             <?php endif;?>

                        <?php endforeach;?>


                    </ul>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 content-box" style="border:none;">
                    <ul class="nav-ul">
                        <li>
                            <a href="<?=base_url('')?>">
                                <span class="i-home"></span> 首页
                                <span class="icon-ss hidden-xs" style="top:8px;right:-8px;"></span>
                                <span class="icon-ss visible-xs" style="top:9px;right:-8px;"></span>
                            </a>
                        </li>

                        <li>

                            <a href="javascript:void(0);" class="active"><?=$class['news_type_name']?></a>
                        </li>
                    </ul>
                    <div class="article">
                        <h2 style="padding-bottom: 0px;">
                            <span style="padding-bottom: 20px;display: inline-block;border-bottom: 3px solid #3395e2;"><?=$class['news_type_name']?></span>
                        </h2>
                        <div class="lists-box">
                            <ul class="lists-ul" style="padding: 0;">
                                <?php foreach($list as $key=>$value):?>
                                <li>
                                    <a href="<?=base_url('news/detail')?>?id=<?=$value['id']?>"><?=$value['title']?></a>
                                </li>
                                <?php endforeach;?>
                            </ul>
                        </div>
                        <div class="page-div" style="text-align: right;">
                            <ul class="page-ul">
                                <li class='active'><a href="notice.htm">1</a></li>
                                <li><a href="notice/page/2.htm">2</a></li>
                                <li><a href="notice/page/3.htm">3</a></li>
                                <li><a href="notice/page/4.htm">4</a></li>
                                <li><a href="notice/page/2.htm">>></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<?php $this->load->view('html/footer.html')?>
<script type="text/javascript">
    console.log("32");
    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            // $('.menu-box-m').css('display','none');
            $('.menu-box-m').fadeOut();
        } else {
        }
    });
    var iM = 0;
    $('.menu-m').click(function () {
        if (iM == 0) {
            $('.menu-box-m').show();
            iM = 1;
        } else {
            $('.menu-box-m').hide();
            iM = 0;
        }

    })
    var ii = 0;
    $('.menu-m-list li').click(function () {
        // alert('s');
        $(this).find('.son-ul-m').fadeIn();
        if (ii == 0) {
            $(this).find('.son-ul-m').show();
            ii = 1;
            $(this).find('span').removeClass('xiala');
            $(this).find('span').addClass('heshang');
        } else {
            $(this).find('.son-ul-m').hide();
            ii = 0;
            $(this).find('span').removeClass('heshang');
            $(this).find('span').addClass('xiala');
        }
    })
    $('.head-bottom .par-ul li').hover(function () {
        var width = $(this).width();
        var widthSon = width + 90 + 'px';
        $(this).find('.son-ul li').css('width', widthSon);
        $(this).find('.son-ul').css('left', '-45px');
        $(this).find('.son-ul').show();
    })

    // 地图
    function mapSize() {
        if ($(window).width() < 768) {
            $('#service_map').css('height', '155px');
        } else {
            $('#service_map').css('height', '269px');
        }
    }

    mapSize()

    $(window).resize(function () {
        mapSize()
    })
    $('.blue-clo').click(function () {
        $('.addvertise').hide();
    })

</script>
<script type="text/javascript">

    $('#man-ul li').click(function () {
        var indexM = $(this).index() + 1;
        $('#man-ul li a').removeClass('active');
        $(this).find('a').addClass('active');
        var box = $('.lists-ul');
        box.hide();
        $('.box_' + indexM).show();
    })

    var i = 0;
    // $('.regulations li').click(function(){
    // 	if(i==0){
    // 		$(this).find('.res-left-ul').show();
    // 		i=1
    // 	}else{
    // 		$(this).find('.res-left-ul').hide();
    // 		i=0;
    // 	}
    // })
    $('.pic-row img').hover(function () {
        $(this).parent().find('.p-left').css('opacity', '1');
        $(this).parent().find('.p-right').css('opacity', '1');
    }, function () {
        $(this).parent().find('.p-left').css('opacity', '0.6');
        $(this).parent().find('.p-right').css('opacity', '0.6');
    })
</script>
</body>
</html>